/* Basic styling */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #2D3748;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

header, footer {
    grid-column: span 2;
    text-align: center;
    padding: 20px;
    background-color: #63B3ED;
    color: white;
}

h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    line-height: 1.6;
}

.profile-pic {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 10px;
}

/* Blog styling */
main {
    grid-column: 1 / 2;
}

article {
    margin-bottom: 40px;
}

h2 {
    font-size: 32px;
    color: #48BB78;
}

.post-meta {
    color: #718096;
}

.blog-image1 {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: auto;
}

.blog-image2 {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: auto;
}

aside {
    grid-column: 2 / 3;
    margin-left: 20px;
}

aside h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

aside h3:nth-of-type(1) {
    color: #000000;
}

aside h3:nth-of-type(2), aside h3:nth-of-type(3) {
    color: #48BB78;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: #4299E1;
    text-decoration: none;
}

aside p {
    background-color: #E2E8F0;
    padding: 10px;
}

footer {
    background-color: #2C5282;
    color: #FFFFFF;
}

